:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 16px;
  padding-bottom: 4px;
  font-weight: 600;

  color: #444;
}

p {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 400;
  line-height: 1.4;

  color: #444;
}

.inner {
  margin-inline: auto;
  padding: 8px;
}

@media only screen and (max-width: 1280px) {
  .inner {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1792px) {
  .inner {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1792px) {
  .inner {
    max-width: 72.7%;
  }
}

/* --- */

#main-navbar {
  background-color: #022d62;
}

#main-navbar a {
  text-decoration: none;
}

/* --- */

#navbar-logo {
  display: flex;
  align-items: center;

  width: fit-content;
}

#navbar-logo img {
  height: 40px;
}

#navbar-logo span {
  color: white;
  font-family: "Cascadia Mono", monospace;
  font-size: 14.0625px;
  font-weight: bolder;

  position: relative;
  top: 3px;
  left: 3px;
}

/* --- */

.hunt-info {
  /* background-color: #022d62;
  opacity: 20%; */

  /* background-color: #ccd5e0; */
  background-color: #e4e7eb;
}

.hunt-info h1 {
  padding-top: 16px;
  padding-bottom: 4px;
}

.hunt-info p {
  padding-left: 12px;
}

/* --- */

.hunt-view-wrapper {
  min-height: 200vh;
  background-color: #ccd5e0;
}

.hunt-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* --- */

.task-card {
  margin: 8px;
  /* padding: 8px; */

  width: calc(256px - 16px);
  /* min-height: 128px; */
  height: fit-content;

  background-color: white;
  border-radius: 8px;

  outline: 1px solid #8693a0;
  transition: outline-width 0.3s ease-in;
}

.task-card:hover {
  outline-width: 4px;
  transition: outline-width 0.1s linear;
}

/* --- */

.card-heading {
  background-color: #e4e7eb;
  border-radius: 8px 8px 0 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  /* padding-inline: 8px; */
  padding: 4px 8px;
}

.card-icon {
  height: 20px;
}

.card-heading h3 {
  margin: 0;
  padding: 0;

  margin-left: 8px;

  font-weight: 500;
}

.card-content {
  padding: 8px;
}