:root {
  --accent: var(--thm-d-accent);

  /* --background-primary: var(--thm-d-background-primary);
  --background-secondary: var(--thm-d-background-secondary);
  --background-tertiary: var(--thm-d-background-tertiary);
  --background-primary-hover: var(--thm-d-background-primary-hover);
  --background-secondary-hover: var(--thm-d-background-secondary-hover);
  --background-tertiary-hover: var(--thm-d-background-tertiary-hover);
  --background-modifier-hover: var(--thm-d-background-modifier-hover);
  --border-primary: var(--thm-d-border-primary);
  --border-secondary: var(--thm-d-border-secondary);
  --text-primary: var(--thm-d-text-primary);
  --text-secondary: var(--thm-d-text-secondary);
  --text-tertiary: var(--thm-d-text-tertiary);
  --modal-backdrop: var(--thm-d-modal-backdrop);
  --shadow: var(--thm-d-shadow); */

  /* --background-primary: var(--thm-l-background-primary);
  --background-secondary: var(--thm-l-background-secondary);
  --background-tertiary: var(--thm-l-background-tertiary);
  --background-primary-hover: var(--thm-l-background-primary-hover);
  --background-secondary-hover: var(--thm-l-background-secondary-hover);
  --background-tertiary-hover: var(--thm-l-background-tertiary-hover);
  --background-modifier-hover: var(--thm-l-background-modifier-hover);
  --border-primary: var(--thm-l-border-primary);
  --border-secondary: var(--thm-l-border-secondary);
  --text-primary: var(--thm-l-text-primary);
  --text-secondary: var(--thm-l-text-secondary);
  --text-tertiary: var(--thm-l-text-tertiary);
  --modal-backdrop: var(--thm-l-modal-backdrop);
  --shadow: var(--thm-l-shadow); */

  --footer-bg-color: var(--background-primary);
  --footer-text-color: var(--text-primary);

  /* --yellow: rgba(240, 255, 105);
  --yellow-bg: rgba(240, 255, 105, 0.2);
  --yellow-border: rgba(240, 255, 105, 0.5); */

  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 16px;
  padding-bottom: 4px;
  font-weight: 600;

  color: var(--text-primary);
}

p {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 400;
  line-height: 1.4;

  color: var(--text-primary);
}

body {
  background-color: var(--background-primary);
}

/* --- INNER DIV CLASS --- */

.inner {
  margin-inline: auto;
  padding: 0 16px;
}

@media only screen and (max-width: 1280px) {
  .inner {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1792px) {
  .inner {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1792px) {
  .inner {
    max-width: 72.7%;
  }
}

/* --- */

a:link {
  text-decoration: underline;
  text-underline-offset: 2.25px;
  text-decoration-thickness: 1.5px;

  color: var(--text-primary);
  background-color: none;
  transition: background-color 0.2s, color 0.2s;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;

  color: var(--background-primary);
  background-color: var(--text-primary);
  transition: background-color 0.2s, color 0.2s;
}

/* --- NAVBAR --- */

#main-navbar {
  z-index: 5;

  background-color: var(--background-secondary);
  outline: 1px solid var(--border-primary);
  box-shadow: 0 0 8px var(--shadow);
}

#main-navbar .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

#main-navbar a {
  text-decoration: none;
}

#main-navbar a:hover {
  text-decoration: none;

  color: inherit;
  background-color: var(--background-secondary-hover);
}

#color-scheme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1/1;
  width: 32px;

  border-style: none;
  border-radius: 50%;

  color: var(--text-primary);
  background-color: var(--background-secondary);
}

#color-scheme-switcher-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  scale: 0.9;
  transition: scale 0.15s;
}
#color-scheme-switcher:hover #color-scheme-switcher-icon {
  scale: 1;
}

#color-scheme-switcher-icon * {
  /* display: none; */
  position: absolute;
}

#color-scheme-switcher:hover {
  background-color: var(--background-secondary-hover);
}

/* --- NAVBAR LOGO --- */

#navbar-logo {
  display: flex;
  align-items: center;

  padding: 0 8px;

  width: fit-content;
  height: 40px;
}

#navbar-logo span {
  color: var(--text-primary);
  font-family: "Cascadia Mono", monospace;
  font-size: 16px;
  font-weight: bolder;

  position: relative;
  top: 1px;
}

/* --- HUNT INFO --- */

.hunt-info {
  /* background-color: #022d62;
  opacity: 20%; */

  /* background-color: var(--background-primary); */
  background-color: var(--background-secondary);
}

.hunt-info h1 {
  padding-top: 16px;
  padding-bottom: 4px;
}

.hunt-info p {
  padding-left: 12px;
}

/* --- HUNT VIEW --- */

.hunt-board-wrapper {
  min-height: 100vh;
  background-color: var(--background-primary);
}

.hunt-board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* --- HUNT CATEGORY --- */

.hunt-category {
  display: flex;
  flex-direction: column;

  flex: 1 0;
}

.hunt-category h3 {
  margin-top: 16px;
  margin-bottom: 8px;

  font-size: 18pt;
}

.hunt-category-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* --- TASK CARD --- */

.task-card {
  margin: 8px;

  width: calc(320px - 16px);
  height: fit-content;

  background-color: var(--background-secondary);
  border-radius: 8px;

  outline: 1px solid var(--border-primary);
  transition: outline-width 0.3s ease-in;

  color: var(--text-primary);
  box-shadow: 0 0 8px var(--shadow);
}

.task-card:hover {
  outline-width: 4px;
  transition: outline-width 0.1s linear;
}

/* --- CARD HEADER --- */

.card-header {
  display: flex;
  flex-direction: column;

  padding: 8px 8px;

  border-radius: 8px;

  cursor: pointer;
}

.task-card[open] .card-header {
  border-radius: 8px 8px 0 0;
}

/* --- CARD KICKER --- */

.card-kicker {
  display: flex;
  margin-left: 8px;
  margin-bottom: 4px;

  height: 14px;

  font-size: 9pt;
  font-weight: 500;

  color: var(--text-secondary);
}

.card-icon {
  color: var(--text-tertiary);
}

.card-icon * {
  height: 14px;
  stroke-width: 2.5px;
}

.card-kicker span {
  margin-right: 4px;

  flex-grow: 1;

  font-style: italic;

  color: var(--text-tertiary);
}

.card-arrow * {
  height: 14px;
  width: 14px;
  stroke-width: 2.5px;

  transition: scale 0.3s;
}

.task-card .card-header .card-kicker .card-arrow {
  transition: scale 0.3s, rotate 0.1s ease-out;
  rotate: 0deg;
}

.task-card[open] .card-header .card-kicker .card-arrow {
  rotate: -180deg;
}

.card-header:hover .card-kicker .card-arrow {
  scale: 1.5;
  border-radius: 50%;
}

/* --- CARD TITLE TEXT --- */

.card-title {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.card-title h4 {
  margin: 0;
  margin-left: 8px;
  padding: 0;

  font-size: 14pt;
  font-weight: bold;

  color: var(--text-primary);
}

/* --- CARD CONTENT --- */

/* .card-content {
} */

.card-description {
  margin: -8px 6px 6px;

  padding: 8px;
  padding-left: 12px;

  font-size: 10pt;
  /* color: var(--text-secondary); */

  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.15s;
}

.card-description:hover {
  background-color: var(--background-modifier-hover);
}

.card-description .more-info {
  user-select: none;

  font-style: italic;
  font-weight: 500;
  white-space: nowrap;

  color: var(--accent);

  transition: text-decoration 0.15s;
}

.card-description:hover .more-info {
  text-decoration: underline;
}

/* --- CARD TASK --- */

.card-task {
  display: flex;
  min-height: 48px;

  margin: 6px;

  background-color: var(--background-tertiary);
  border-radius: 8px;
  outline: 1px solid var(--border-primary);

  transition: background-color 0.15s;
}

.card-task:hover {
  background-color: var(--background-tertiary-hover);
}

/* --- TASK STATUS --- */

.card-task-status {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 14px;

  height: 100%;
  width: calc(8px + 32px);

  transition: scale 0.15s;
}

.card-task-status * {
  width: 18px;
  height: 18px;
  stroke-width: 2.5px;
}

.card-task-status:hover {
  scale: 1.15;
}

/* --- TASK STATUS COLORS --- */

/* when task is new to the user; has not been interacted with */
.card-task-status.new {
  color: var(--accent);
}

/* when task status is Not Started */
.card-task-status.pending {
  color: var(--text-secondary);
}

/* when task status is Work in Progress */
.card-task-status.working {
  color: yellow;
}

/* when task is Done */
.card-task-status.done {
  color: limegreen;
}

/* when task status is unknown */
.card-task-status.unknown {
  color: orange;
}

/* --- TASK CONTENT --- */

.card-task-content {
  display: flex;
  align-items: left;
  /* justify-content: center; */
  justify-content: top;
  flex-direction: column;

  flex: 1 0;

  padding: 8px 0;
}

.card-task-content-group {
  color: var(--text-secondary);

  white-space: pre;
  font-size: 9pt;
}

.card-task-content-name {
  font-size: 12pt;
  font-weight: 500;
}

/* --- TASK OPEN ICON --- */

.card-task-open {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 16px;

  height: 100%;
  width: calc(8px + 32px);

  color: var(--text-secondary);

  transition: scale 0.15s, color 0.15s;
}

.card-task-open * {
  height: 14px;
}

.card-task:hover .card-task-open {
  scale: 1.3;
  color: var(--accent);
}

/* --- MODAL --- */

body:has(.modal-wrapper.open) {
  width: calc(100vw - (100vw - 100%));
  overflow: hidden;
}

.modal-wrapper {
  display: none;

  position: fixed;
  /* top: 0; */
  inset: 0;

  z-index: 5;
}

.modal-wrapper.open {
  display: block;
}

.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop);
}

.modal-inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100vw;
  max-height: 100vh;
}

.modal {
  position: relative;

  width: 768px;
  /* height: 256px; */

  max-width: 100vw;
  max-height: 100vh;

  background-color: var(--background-primary);
  border-radius: 8px;
  outline: 1px solid var(--border-primary);
  box-shadow: 0 0 8px var(--shadow);

  color: var(--text-primary);

  overflow-y: auto;
}

/* --- */

.modal-close-button {
  position: absolute;
  top: 4px;
  right: 4px;

  padding: 4px;

  border-radius: 50%;

  transition: background-color 0.15s;
}

.modal-close-button-icon {
  width: 16px;
  height: 16px;

  color: var(--text-secondary);

  transition: scale 0.15s;
}

.modal-close-button-icon * {
  width: 16px;
  height: 16px;
}

.modal-close-button:hover {
  background-color: var(--background-modifier-hover);
}
.modal-close-button:hover .modal-close-button-icon {
  scale: 1.3;
}

/* --- */

.modal-content {
  padding: 16px;
  /* height: 100%; */

  /* position: relative; */
}

.modal-title {
  margin: 0;
  /* margin-left: 8px; */
  padding: 8px 0;

  font-size: 18pt;
  font-weight: bold;

  color: var(--text-primary);
}

.modal-description {
}

/* .modal-content span {
} */

/* --- */

/* --- TASK STATUS --- */

.modal-card-task-status {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: calc(8px + 32px);

  transition: scale 0.15s;
}

.modal-card-task-status * {
  width: 18px;
  height: 18px;
  stroke-width: 2.5px;
}

.modal-card-task-status:hover {
  scale: 1.15;
}

/* --- CARD TASK --- */

.modal-card-task-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal-card-task {
  display: flex;
  flex-direction: column;
  height: 100%;

  margin: 6px;

  flex: 1 1 384px;

  min-width: 0;

  background-color: var(--background-tertiary);
  border-radius: 8px;
  outline: 1px solid var(--border-primary);
}

.modal-card-task-submission {
  padding: 8px;
  margin: 6px;
  margin-left: 2px;

  /* min-width: 128px; */

  flex: 0 1 128px;

  overflow-wrap: break-word;

  background-color: var(--background-tertiary);
  border-radius: 8px;
  outline: 1px solid var(--border-primary);
}

@media screen and (max-width: 625px) {
  .modal-card-task-submission {
    margin: 6px;
    margin-top: 2px;
    width: 100%;

    flex: 1 2 128px;

    min-height: 64px;
  }
}

.modal-card-task-submission-title {
  padding: 0;
  font-size: 12pt;
  color: var(--text-primary);
}

.modal-card-task-submission-content {
  padding-top: 12px;
}

.modal-card-task-submission-description {
  font-size: 10pt;
  color: var(--text-primary);
}

/* --- TASK HEADING --- */

.modal-card-task-heading {
  display: flex;
  height: 48px;
  width: 100%;
}

.modal-card-task-heading-content {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;

  flex: 1 0;
}

.modal-card-task-heading-group {
  color: var(--text-secondary);

  white-space: pre;
  font-size: 9pt;
}

.modal-card-task-heading-name {
  font-size: 12pt;
  font-weight: bold;
}

/* --- TASK OPEN ICON --- */

/* .modal-card-task-open {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: calc(8px + 32px);

  color: var(--text-secondary);

  transition: scale 0.15s;
}

.modal-card-task-open * {
  height: 14px;
}

.modal-card-task:hover .modal-card-task-open {
  scale: 1.3;
} */

/* --- */

.modal-card-task hr {
  margin: 8px auto;
  width: calc(100% - 44px - 16px);
}

/* --- */

.modal-card-task-content {
  padding: 8px;
  min-height: 128px;
}

.model-card-task-description-wrapper {
  padding-left: 32px;
}

.modal-card-task-description {
  font-size: 10pt;
}

/* --- */

.modal-task-resources {
  margin-top: 16px;

  /* padding: 8px; */

  /* min-height: 64px; */

  /* background-color: var(--yellow-bg); */
  border-radius: 8px;
  /* outline: 1px solid var(--yellow-border); */
}

.modal-task-resources hr {
  margin: 8px auto;
  width: calc(100% - 44px);
}

.modal-task-resources h5 {
  margin-left: 32px;
  margin-top: 12px;
  padding: 0;
  font-size: 12pt;
  color: var(--text-primary);
  /* margin-left: 8px; */
}

.modal-task-resources-content {
  margin-left: calc(32px + 8px);
}

/* --- */

.modal-task-resource {
  margin-top: 12px;
  padding: 8px;

  background-color: var(--background-secondary);
  border-radius: 8px;
  outline: 1px solid var(--border-primary);

  transition: background-color 0.15s;
}

.modal-task-resource:hover {
  background-color: var(--background-secondary-hover);
}

.task-resource-header {
  display: flex;
}

.task-resource-title {
  padding: 0;
  font-size: 10pt;
}

.task-resource-link-icon * {
  height: 14px;
  stroke-width: 2.5px;
}

.task-resource-description {
  font-size: 9pt;
  margin-left: 4px;
  color: var(--text-secondary);
}

/* --- */

.task-resource-link:link {
  text-decoration: none;
  color: var(--text-primary);
}

.task-resource-link:visited {
  color: var(--text-primary);
}

.task-resource-link:hover {
  /* text-decoration: none; */
}
