:root {
  --primary: #022d62;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary);
  color: white;
  font-family: "Cascadia Mono", monospace;

  user-select: none;
}

/* --- */

hr {
  width: 24px;

  border: solid white 0.7px;
  opacity: 0.6;
}

a:link {
  text-decoration: underline;
  text-underline-offset: 2.25px;
  text-decoration-thickness: 1.5px;

  color: white;
  background-color: none;
  transition: background-color 0.2s, color 0.2s;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;

  color: var(--primary);
  background-color: white;
  transition: background-color 0.2s, color 0.2s;
}

/*  */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  text-align: center;

  padding-inline: 8px;
}

#cs-logo {
  width: 128px;
}

main hr {
  margin-bottom: 24px;
}

/* --- */

footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  padding-bottom: 12px;
}

#footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  text-align: center;
}

#footer-content * {
  margin-inline: 16px;
}

footer hr {
  margin-bottom: 12px;
  transition: width 0.2s;
}

footer:hover hr {
  width: 192px;
  transition: width 0.2s;
}
