:root {
  --primary: #022d62;
  --footer-color: black;
  --footer-hover-color: white;
}

@font-face {
  font-family: "Cascadia Mono";
  src: local("Cascadia Mono"), url(assets/fonts/CascadiaMono.ttf);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* --- */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  padding-bottom: 12px;
}

footer.absolute {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

/* --- */

#footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  text-align: center;
}

#footer-content * {
  margin-inline: 16px;
}

/* --- */

footer hr {
  width: 24px;

  border: solid var(--footer-color) 0.7px;
  opacity: 0.6;
}

footer hr {
  margin-bottom: 12px;
  transition: width 0.2s;
}

footer:hover hr {
  width: 192px;
  transition: width 0.2s;
}

/* --- */

footer a:link {
  text-decoration: underline;
  text-underline-offset: 2.25px;
  text-decoration-thickness: 1.5px;

  color: var(--footer-color);
  background-color: none;
  transition: background-color 0.2s, color 0.2s;
}

footer a:visited {
  color: var(--footer-color);
}

footer a:hover {
  text-decoration: none;

  color: var(--footer-hover-color);
  background-color: var(--footer-color);
  transition: background-color 0.2s, color 0.2s;
}
