:root {
  --footer-bg-color: white;
  --footer-text-color: black;

  --thm-l-accent: #022d62;
  --thm-l-background-primary: #ccd5e0;
  --thm-l-background-secondary: #e4e7eb;
  --thm-l-background-tertiary: #fff;
  --thm-l-border-primary: #bbb;
  --thm-l-border-secondary: #ddd;
  --thm-l-text-primary: #444;
  --thm-l-text-secondary: #666;
  --thm-l-text-tertiary: #bbb;
  
  --thm-d-accent: #3c7bc7;
  --thm-d-background-primary: #1d1d1d;
  --thm-d-background-secondary: #262626;
  --thm-d-background-tertiary: #323232;
  --thm-d-background-tertiary-hover: #444444;
  --thm-d-background-modifier-hover: #44444480;
  --thm-d-border-primary: #444444;
  --thm-d-border-secondary: #3a3a3a;
  --thm-d-text-primary: #eee;
  --thm-d-text-secondary: #aaa;
  --thm-d-text-tertiary: #666;
  --thm-d-modal-backdrop: #0a0a0aa0;
}

@font-face {
  font-family: "Cascadia Mono";
  src: local("Cascadia Mono"), url(assets/fonts/CascadiaMono.ttf);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* --- */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  background-color: var(--footer-bg-color);

  padding-bottom: 12px;
}

footer.absolute {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

/* --- */

#footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  text-align: center;
}

#footer-content * {
  margin-inline: 16px;
}

/* --- */

footer hr {
  width: 24px;

  border: solid var(--footer-text-color) 0.7px;
  opacity: 0.6;
}

footer hr {
  margin-bottom: 12px;
  transition: width 0.2s;
}

footer:hover hr {
  width: 192px;
  transition: width 0.2s;
}

/* --- */

footer a:link {
  text-decoration: underline;
  text-underline-offset: 2.25px;
  text-decoration-thickness: 1.5px;

  color: var(--footer-text-color);
  background-color: none;
  transition: background-color 0.2s, color 0.2s;
}

footer a:visited {
  color: var(--footer-text-color);
}

footer a:hover {
  text-decoration: none;

  color: var(--footer-bg-color);
  background-color: var(--footer-text-color);
  transition: background-color 0.2s, color 0.2s;
}
