:root {
  --accent: var(--thm-d-accent);

  --footer-bg-color: var(--background-primary);
  --footer-text-color: var(--text-primary);

  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 16px;
  padding-bottom: 4px;
  font-weight: 600;

  color: var(--text-primary);
}

p {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 400;
  line-height: 1.4;

  color: var(--text-primary);
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

body {
  background-color: var(--background-primary);
}

/* --- BODY BACKGROUND COLOR SCROLL --- */

html {
  scroll-timeline: --page-scroll block;
}

body {
  animation: body-scroll auto linear;
  animation-timeline: --page-scroll;
}

@-moz-keyframes body-scroll {
  from {
    background-color: var(--background-secondary);
  }
  to {
    background-color: var(--background-primary);
  }
}

@-webkit-keyframes body-scroll {
  from {
    background-color: var(--background-secondary);
  }
  to {
    background-color: var(--background-primary);
  }
}

@keyframes body-scroll {
  from {
    background-color: var(--background-secondary);
  }
  to {
    background-color: var(--background-primary);
  }
}

/* --- INNER DIV CLASS --- */

.inner {
  margin-inline: auto;
  padding: 0 16px;
}

@media only screen and (max-width: 1280px) {
  .inner {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1792px) {
  .inner {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1792px) {
  .inner {
    max-width: 72.7%;
  }
}

/* --- */

/* Color for SVGs in modals */
svg .svg-content {
  fill: var(--text-primary);
}

/* --- LINKS --- */

a:link {
  text-decoration: underline;
  text-underline-offset: 2.25px;
  text-decoration-thickness: 1.5px;

  color: var(--text-primary);
  background-color: none;
  transition: background-color 0.2s, color 0.2s;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;

  color: var(--background-primary);
  background-color: var(--text-primary);
  transition: background-color 0.2s, color 0.2s;
}

/* --- NAVBAR --- */

#main-navbar {
  z-index: 5;

  background-color: var(--background-secondary);
  outline: 1px solid var(--border-primary);
  box-shadow: 0 0 8px var(--shadow);

  transition: background-color 0.15s;
}

#main-navbar .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

#main-navbar a {
  text-decoration: none;
}

#main-navbar a:hover {
  text-decoration: none;

  color: inherit;
  background-color: var(--background-secondary-hover);
}

/* --- COLOR SCHEME SWITCHER --- */

#color-scheme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1/1;
  width: 32px;

  border-style: none;
  border-radius: 50%;

  color: var(--text-primary);
  background-color: var(--background-secondary);

  transition: background-color 0.15s;
}

#color-scheme-switcher-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  scale: 0.9;
  transition: scale 0.15s;
}
#color-scheme-switcher:hover #color-scheme-switcher-icon {
  scale: 1;
}

#color-scheme-switcher-icon * {
  /* display: none; */
  position: absolute;
}

#color-scheme-switcher:hover {
  background-color: var(--background-secondary-hover);
}

/* --- NAVBAR LOGO --- */

#navbar-logo {
  display: flex;
  align-items: center;

  padding: 0 8px;

  width: fit-content;
  height: 40px;
}

#navbar-logo span {
  color: var(--text-primary);
  font-family: "Cascadia Mono", monospace;
  font-size: 16px;
  font-weight: bolder;

  position: relative;
  top: 1px;
}

/* --- SCAHOO INFO --- */

.scahoo-info {
  padding-bottom: 24px;

  background-color: var(--background-secondary);

  transition: background-color 0.15s;
}

.scahoo-info h1 {
  padding-top: 16px;
  padding-bottom: 4px;
}

.scahoo-info p {
  padding-left: 12px;
}

/* --- SCAHOO TABS --- */

.scahoo-tabs {
  min-height: 32px;

  background-color: var(--background-secondary);

  transition: background-color 0.15s;
}

.scahoo-tabs .inner {
  display: flex;
  flex-direction: row;

  overflow-x: auto;

  height: 100%;
}

.scahoo-tab {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 4px;

  height: calc(100% - 1px); /* subtract border-top width */
  min-width: 128px;
  flex-shrink: 0;

  white-space: nowrap;

  cursor: pointer;
  user-select: none;
}

.scahoo-tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 14px;
  height: 14px;
  padding: 8px;
}

.scahoo-tab-icon * {
  stroke-width: 2.5px;
}

.scahoo-tab-name {
  margin-right: 12px;
}

/* --- SCAHOO TAB STATES --- */

.scahoo-tab {
  border-top: 2px solid transparent;

  color: var(--text-secondary);

  transition: color 0.15s, background-color 0.15s, border-top 0.15s;
}

.scahoo-tab:hover:not(.disabled):not(.selected) {
  border-top: 2px solid var(--text-tertiary);

  background-color: var(--background-secondary-hover);
}

.scahoo-tab.selected {
  border-top: 2px solid var(--text-secondary);

  color: var(--text-primary);
  background-color: var(--background-primary);
}

.scahoo-tab.selected:hover {
  border-top: 2px solid var(--accent);

  color: var(--text-primary);
  background-color: var(--background-primary);
}

.scahoo-tab.disabled {
  color: var(--text-tertiary);
  background-color: inherit;
}

.scahoo-tab.disabled:hover {
  background-color: var(--background-secondary-hover);
}
